/*banner inicial*/
.banner-culinaria{
    position: relative;
    width: 100%;
    top: 16px;
    z-index: -1;
}
.t1{
    margin: 0 auto;
    width: 980px;
    top: 100PX;
}
.t1 p{
    text-align: justify;
    text-indent: 2rem;
    padding: 1rem;
    font-size: 1.2rem;
}
.t1 h2{
    padding-top: 2rem;
}
.t1c h2{
    text-align: justify;
    text-indent: 10rem;
    padding: 1rem;
}

.culinaria h1{
    text-align: center;
    padding-top: 4rem;
}
.comidas img{
    width: 300px;
    height: 240px;
   
}
.comidas{
    margin: 0 auto;
    width: 980px;
    
}
.cop-br-culinaria{
    background-image: url('../img/footer2.png');
    color: #c1c1c1;
    height: 30px;
    
}
.cop-br-culinaria p{
   padding: 5px;
   text-align: center; 
}